body {
  font-family: Arial, sans-serif;
  background-color: #090083;
}

.container {
  background-color: #3838c8;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #670101;
  border-radius: 5px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #210390;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #015506;
}

p {
  font-weight: bold;
  margin-top: 10px;
}
